/******************************
CSS Reset --------------------*/

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/******************************
Layout -----------------------*/


/******************************
Typography -------------------*/

body{
	background-color: #fff;
	color: #666;
	font-family: "Roboto", sherif;
}
h1{
	font-family: "Segoe UI", sherif;
	font-size: 60px;
	font-weight: 100;
	text-align: center;
	margin: 100px auto;
	color: #44c6c3;

}

/******************************
Responsive Design  -----------*/